*.o
*.mod
*.a
*~
TAGS
changelog
camc
camc_convert
camca
.al
output*
samples*
valpha*
interm_file*
result_file
result_file_*
*.cmc
core
*.out
*.log
*.bbl
*.blg
*.aux
doc/afmc/plots
test/test_/*
fort.*
scratch/*
.#*
bin/*
*.pdf
*.ps
*.eps
misc/*
semantic.cache
version.h
fields_file*
result_file.mc
qsub_camc.py
ffree
free
stabilize
utest
symbols.txt
